[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:leusic38/nvim-config.git
[submodule "ranger/.config/ranger/plugins/ranger-archives"]
	path = ranger/.config/ranger/plugins/ranger-archives
	url = git@github.com:maximtrp/ranger-archives.git
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = git@github.com:alexanderjeurissen/ranger_devicons.git
[submodule "zsh/.config/zsh/plugins/zsh-git-prompt"]
	path = zsh/.config/zsh/plugins/zsh-git-prompt
	url = git@github.com:leusic38/zsh-git-prompt.git
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:leusic38/zsh-syntax-highlighting.git
[submodule "./zsh/.config/zsh/plugins/zsh-git-prompt"]
	url = git@github.com:leusic38/zsh-git-prompt.git
[submodule "zsh/.config/zsh/plugins/zsh-autocomplete"]
	path = zsh/.config/zsh/plugins/zsh-autocomplete
	url = git@github.com:leusic38/zsh-autocomplete.git
